BOT_TOKEN=your_telegram_bot_token_here
PORT=3000

AD_LINK_1=https://www.effectivecpmnetwork.com/icfbsfuvi?key=ed6aaf79e9b07946818ef36a316ae8b8
AD_LINK_2=https://www.effectivecpmnetwork.com/h8tu6xcwx?key=fa37573219e13e6c0b699cb234814255
AD_DELAY_SECONDS=10
